---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* table borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #000000;
  margin-bottom: 20px;
}

th {
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 5px 10px;
}

td {
  border: 1px solid #000000;
  padding: 5px 10px;
}

// Center Images

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Heading Sizes
.post-content h1 {
  font-size: 36px;
}
.post-content h2 {
  font-size: 30px;
}
.post-content h3 {
  font-size: 24px;
}
.post-content h4 {
  font-size: 20px;
}

// Social (from newest version of _sass/minima/_base.scss)

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

// Quotes

blockquote {
  letter-spacing: 0.1px;
}

// Links on the main page

.post-list-heading {
  // Don't display "Posts" title
  display: none;
}

.post-link {
  font-size: 24px;
}

ul.post-list > li {
  // Less spacing between each post link.
  margin: 0;
}

// Individual posts

.post-title {
  // Smaller titles.
  font-size: 34px;
}

// Wide posts
.wrapper-wide {
    max-width: -webkit-calc(#{$content-width-wide} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width-wide} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width-wide} - (#{$spacing-unit}));
      max-width:         calc(#{$content-width-wide} - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }
  }